<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JBCStationControllerSrv.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <JBCStationControllerSrv.My.MySettings>
      <setting name="UpgradeSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SearchUSB" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SearchETH" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableStationWorkingEvent" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TraceManagerUri" serializeAs="String">
        <value />
      </setting>
      <setting name="TraceManagerServerCode" serializeAs="String">
        <value />
      </setting>
      <setting name="EventLogLastDataCollection" serializeAs="String">
        <value>1970-01-01</value>
      </setting>
    </JBCStationControllerSrv.My.MySettings>
  </userSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IHostTrace" />
        <binding name="BasicHttpBinding_IJBCHostControllerService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://servidor-syntec:8833/JBCTraceController/HostTrace/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHostTrace"
        contract="JBCTraceControllerServiceReference.IHostTrace" name="BasicHttpBinding_IHostTrace" />
      <endpoint address="http://cad-51:8000/JBCHostControllerSrv/service"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IJBCHostControllerService"
        contract="HostControllerServiceReference.IJBCHostControllerService"
        name="BasicHttpBinding_IJBCHostControllerService" />
    </client>
  </system.serviceModel>
</configuration>
