<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IJBCStationControllerService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://cad-51:8000/JBCStationControllerSrv/service"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IJBCStationControllerService"
                contract="JBCStationControllerService.IJBCStationControllerService"
                name="BasicHttpBinding_IJBCStationControllerService" />
        </client>
    </system.serviceModel>
</configuration>