<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RemoteManager.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RemoteManager.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup><userSettings>
        <RemoteManager.My.MySettings>
            <setting name="optCulture" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="optTempUnits" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="optRegisterMDI" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TempUpdateFolder" serializeAs="String">
                <value>tempRemoteManager</value>
            </setting>
            <setting name="AppCompressFileName" serializeAs="String">
                <value>remoteManagerProgram.jbc</value>
            </setting>
            <setting name="optShowErrorNotifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="optShowStationControllerNotifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="optShowStationNotifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowStateMaximized" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </RemoteManager.My.MySettings>
    </userSettings>
    <applicationSettings>
        <RemoteManager.My.MySettings>
            <setting name="SupervisorPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="xmlStationGroupsFileName" serializeAs="String">
                <value>StationGroups.xml</value>
            </setting>
        </RemoteManager.My.MySettings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IJBCHostControllerService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://cad-51:8000/JBCHostControllerSrv/service"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IJBCHostControllerService"
                contract="HostControllerServiceReference.IJBCHostControllerService"
                name="BasicHttpBinding_IJBCHostControllerService" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
